* {
	transition: all 0.1s;

}

body{

	margin: 0;
	padding: 0;

	display: flex;
	align-items:center;
	justify-content: center;
	flex-direction: column;
	background: #353030;
	h1{
	font-family: 'Gochi Hand', cursive;
	color: #bdac25;
	font-size: 60px;

		
	}

}


.contenedor{
	display: grid;
	grid-template-columns: auto auto auto;
	width: 300px;
	height: 300px;
	align-items:center;
	justify-content:center;

}

.casilla{
	width: 100px;
	height: 100px;
	display: flex;
	align-items:center;
	justify-content:center;
	padding: 20px;
	text-align: center;
	font-size: 150px;
	font-family: 'Gochi Hand', cursive;
	border: 4px solid white;

}

#casilla1, #casilla2, #casilla3 {
	border-top: hidden;
}

#casilla1, #casilla4, #casilla7 {
	border-left: hidden;
}

#casilla7, #casilla8, #casilla9 {
	border-bottom: hidden;
}

#casilla9, #casilla6, #casilla3 {
	border-right: hidden;
}


@media screen and (max-width: 600px){
	
	.casilla{
	width: 70px;
	height: 70px;
	font-size: 100px;

	}

	body{

		h1{
		font-family: 'Gochi Hand', cursive;
		color: #bdac25;
		font-size: 80px;
		}
	}


}
